html {
    scroll-behavior: smooth; /* When users click on the nav bar to scroll to a particular section, smoothen the scroll */
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  
    background-color: #212121;
  
    font-family: 'Open Sans'; /* Creates friendly vibe */
    font-style: normal;
    color: #EDEDED;
}

h2 {
    color: #EDEDED;
    z-index: 3;
}

/* Remove the default styling of a fieldset https://github.com/jensimmons/cssremedy/issues/50 */
fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border: none;
    min-inline-size: min-content;
}

.notice {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 18px;
    font-weight: 600;
    color: #8E8E8E;
}
/* End of default properties */






#navbar {
    width: 100%;
    height: 64px;
    position: fixed; /* Fix it to the top of the screen */
    background-color: #0E0E0E;
    z-index: 100; /* Avoid being covered by other elements */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0 1.5rem;
}

.navbar-container img#logo {
    height: 40px;   
}

#navbar-menu ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0.4em 0.8em;
    text-align: center;
    overflow: hidden;
}

#navbar-menu > ul > li {
    display: inline;
    line-height: 64px;
    padding: 0 15px;
    width: 100px;
}

#navbar-menu > ul > li > a {
    position: relative;
    display:block;
    color: #EDEDED;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

/* Show an orange line under the current section to notify users which section they are at */
#current-section::after {
    position: absolute;
    content: ""; 
    height: 5px; 
    width: 100%; 
    left: 0; 
    bottom: 0;
    background-color: #FF9900;
}

#navbar-menu > ul > li > a:hover {
    color: #FF9900;
}

#navbar-menu > ul > li > a:hover::after {
    position: absolute;
    content: ""; 
    height: 5px; 
    width: 100%; 
    left: 0; 
    bottom: 0;
    background-color: #FF9900;
}

#navbar-toggle {
    display: none;
    z-index: 100;
}

/* Responsive nav bar learnt from DECO1016 unit */
@media screen and (max-width: 800px) {
    #navbar-menu {
        position: fixed;
        width: 100%;
        top: 64px; 
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
    }

    #navbar-menu ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0.4em 0.8em 0;
        background-color: #1C1C1C;
    }

    #navbar-menu > ul > li {
        line-height: 64px;
        width: 80%;
    }

    #navbar-menu > ul > li > a:hover {
        border-bottom: 0;
    }

    .navbar-item > .hori-line {
        display: block;
        width: 100%;
        height: 0.5px;
        background-color: #EDEDED;
    }

    #navbar-menu > ul > li > a:hover::after {
        height: 3px; 
        width: 100%; 
    }

    #current-section::after {
        height: 3px; 
        width: 100%; 
    }

    #navbar-toggle.active + #navbar-menu {
        background-color: #1C1C1C;
        display: flex;
    }

    /* NAVBAR TOGGLE BUTTON */
    /* Styles for the hamburger style menu button */
    #navbar-toggle {
        cursor: pointer;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /* Reusable style for each menu bar */
    .icon-bar {
        display: block;
        width: 25px;
        height: 4px;
        margin: 2px;
        background-color: #454545;
    }

    /* Set the colour of the menu bars when hovered */
    #navbar-toggle:hover .icon-bar {
        background-color: #787878;
    }

    /* Set the icon bars for when the menu is active i.e. when the cross to close is showing */
    #navbar-toggle.active .icon-bar:first-child,
    #navbar-toggle.active .icon-bar:last-child {
        position: absolute;
        margin: 0;
        width: 30px;
    }

    /* Rotate the top menu bar */
    #navbar-toggle.active .icon-bar:first-child {
        transform: rotate(45deg);
    }

    /* Hide the middle menu bar */
    #navbar-toggle.active .icon-bar:nth-child(2) {
        opacity: 0;
    }

    /* Rotate the bottom menu bar */
    #navbar-toggle.active .icon-bar:last-child {
        transform: rotate(-45deg);
    }
}

/* End of navbar */





#landing {
    margin: 0;
    padding: 0;
    height: 100vh; /* Take up all the screen space */
    position: relative;
    overflow: hidden; /* Crop the image if the image is too big */
}

#landing h1 {
    position: absolute;
    width: 50%;
    left: 7.5%;
    top: 10%;

    font-weight: 700;
    font-size: 96px;
    line-height: 190%;
    text-transform: uppercase;

    /* Apply gradient color to text: https://cssgradient.io/blog/css-gradient-text/ */
    background: linear-gradient(245deg, #EAEAEA 0%, rgba(234, 234, 234, 0.3) 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    z-index: 3;
}

.section-bg {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}

.section-bg img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;

    /* There was a 3.5px gap between the contents https://stackoverflow.com/questions/3947113/space-between-div-and-img */
    display: block;
    margin: 0;
    padding: 0;

    z-index: -1;
}

/* Creating a mask that can apply gradient colour */
.section-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#landing-bg::before  {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 70%);
}

/* End of landing section */





.main {
    position: relative;
    z-index: 99;
}
  
#new-movie {
    margin: 0;
    padding: 0;
    height: 90vh;
    position: relative;
    overflow: hidden; /* Crop the image if the image is too big */
}
  
#new-movie h2 {
    position: relative;
    text-align: center;
    margin-top: 11.5vh;
}

#movie-form {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);

	width: 35%;
	margin-top: 5vh;

	background: rgba(28, 28, 28, 0.9);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
	border-radius: 10px;
}

#input-form {
	width: 100%;
	height: 27.5vh;
	padding-top: 5.5%;

	display: grid;
	grid-template-columns: 40% 40%;
	grid-template-rows: 30% 30% 30%;
	gap: 5%;
	justify-content: space-evenly;
}

/* Design inspired by https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda */
.user-box {
	position: relative;
}

.user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

/* Remove autofill background: https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: white !important;
}

.input-label,
.top-left-label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}

.user-box input:focus~.input-label,
.user-box input:valid~.input-label,
.top-left-label {
	top: -20px;
	left: 0;
	color: #FF9900;
	font-size: 12px;
}

/* Removing the default icon that is disrupting the design https://stackoverflow.com/questions/20937475/remove-datalist-dropdown-arrow-in-chrome */
[list]::-webkit-calendar-picker-indicator {
	display: none !important;
}

/* To set the calender icon to a easier to see color https://stackoverflow.com/questions/62162645/change-color-of-chromes-calendar-icon-in-html-date-input */
::-webkit-calendar-picker-indicator {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

#movie-rating {
	padding-top: 10px;
	float: left;
}

#movie-rating>label {
	color: #90A0A3;
	float: right;
}

#movie-rating>label:before {
	margin: 5px;
	font-size: 24px;
	font-family: FontAwesome;
	content: "\f005";
	display: inline-block;
}

#movie-rating>input {
	display: none;
}

#movie-rating>input:checked~label,
#movie-rating:not(:checked)>label:hover,
#movie-rating:not(:checked)>label:hover~label {
	color: #F79426;
}

#movie-rating>input:checked+label:hover,
#movie-rating>input:checked~label:hover,
#movie-rating>label:hover~input:checked~label,
#movie-rating>input:checked~label:hover~label {
	color: #FECE31;
}

#submit-btn {
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 1.5vh;
	padding-bottom: 3vh;
}

#submit-btn button {
	position: relative;
	display: inline-block;
	padding: 10px 60px;

	font-size: 16px;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;

	letter-spacing: 4px;
	background-color: #FF9900;
	color: #fff;
	border-radius: 5px;
	border: none;
}

#submit-btn button:hover {
	box-shadow: 0 0 5px #ffffff,
		0 0 25px #ffffff,
		0 0 50px #FF9900,
		0 0 100px #FF9900;
}

#new-movie-bg::before {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.6) 80%, #1C1C1C 100%);
}
  
/* End of new movie section */





#history {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #1C1C1C;
}
  
#history-header {
    position: relative;
    padding-top: 6.5%;
    
    width: 100%;
    display: flex;
    align-items: center;
}
  
#history h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
  
#history-header > button {
    position: absolute;
    width: 8.5vw;

    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
  
    background-color: transparent;
    border-radius: 5px;
}

#show-all-btn {
    left: 15%;
    color: #FF9900;
    border-color: #FF9900;
}

#clear-history-btn {
    right: 15%;
    color: #ff0000;
    border-color: #ff0000;
}
  
#history-lst {
	padding: 3.5% 5%;
	width: 70%;
	margin: auto;

	display: flex;
	flex-direction: column;
	gap: 4vh;
}

.history-info {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 5%;
}

.movie-img {
	width: 96px;
	height: 96px;
}

.movie-details {
	width: 100%;
	display: grid;
	grid-template-columns: 70% 30%;
	justify-content: space-evenly;
	align-items: center;
}

.movie-details h5 {
	margin: 1vh 0;
	font-weight: 400;
	font-size: 18px;
}

h5.movie-name {
	font-weight: 600;
	font-size: 22px;
}

.movie-watched-date span {
	color: #8E8E8E;
}

.movie-rating span {
	font-size: 20px;
	padding-right: 5px;
    color: #3A3A3A;
}

span.rating-checked {
	color: #FF9900;
}

h5.movie-comment {
    color: #8E8E8E;
    font-style: italic;
}

.delete-btn {
	padding: 0;
	border: none;
	cursor: pointer;
	appearance: none;
	background-color: inherit;
	transition: transform .3s ease-in-out;
}

.delete-btn:hover {
	transform: rotate(180deg);
}

.delete-btn img {
	width: 50px;
	height: 50px;
	display: block;
	padding: 0;
	margin: 0;
}

.seperate-line {
	position: relative;
	margin-top: 4vh;
	left: 50%;
	transform: translate(-50%, 0%);

	display: block;
	width: 90%;
	height: 1px;
	background-color: #353535;
}
  
/* End of history section */





#profile {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
  
#profile > .main > h2 {
    padding-top: 8.5vh;
    text-align: center;
}
  
#profile-data, #profile-data-none {
	padding-top: 2.5vh;
	width: 80%;
	margin: auto;

	display: flex;
    align-items: center;
	justify-content: space-between;
}

#profile-data-none {
    justify-content: center;
}

#profile-data > div {
	width: 30%;
	height: 40vh;
	background: #1C1C1C;
}

#data-bar {

}

#data-compare {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-between;

    text-align: center;
}

#data-compare > p {
    padding: 0 20%;
    font-size: 18px;
    color: #BCBCBC;
}

#data-compare-watchTime {
    margin: 0;
    font-size: 48px;
}

#data-compare-percent {
    width: 25%;
    padding: 1.5% 0;
    background: rgba(0, 255, 0, 0.3);
    border-radius: 50px;
}

div#data-movie {
	background: transparent;
    
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 30% 65%;
    gap: 5%;
}

#data-movie > div {
	background: #1C1C1C;
}

#favorite {
    display: flex;
    flex-direction: column;
	justify-content: space-evenly;
}

#favorite > div {
    width: 85%;
    padding-left: 7.5%;

    display: flex;
	justify-content: space-between; 
    align-items: center;
}

#favorite > div > .heading {
    color: #BCBCBC;
}

#favorite > div > p {
    margin: 0;
}

#profile > section > h3 {
	position: relative;
	padding-top: 7vh;
	left: 10%;
}

#recommendation {
	padding: 1.5vh 0 5vh;
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#recommendation img {
	object-fit: cover; /* Avoid the image being stretched or over-size */
	width: 275px;
	height: 350px;
}

#profile-bg::before  {
    background: linear-gradient(180deg, rgb(28, 28, 28) 0%, rgba(28, 28, 28, 0.8) 20%, rgba(28, 28, 28, 0.6) 80%, rgba(28, 28, 28, 0) 100%);
}
  
/* End of #profile section */