html {
    scroll-behavior: smooth; /* When users click on the nav bar to scroll to a particular section, smoothen the scroll */
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  
    background-color: #212121;
  
    font-family: 'Open Sans'; /* Creates friendly vibe */
    font-style: normal;
    color: #EDEDED;
}

h2 {
    color: #EDEDED;
    z-index: 3;
}

/* End of default properties */






#navbar {
    width: 100%;
    height: 64px;
    position: fixed; /* Fix it to the top of the screen */
    background-color: #0E0E0E;
    z-index: 100; /* Avoid being covered by other elements */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0 1.5rem;
}

.navbar-container img#logo {
    height: 40px;   
}

#navbar-menu ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0.4em 0.8em;
    text-align: center;
    overflow: hidden;
}

#navbar-menu > ul > li {
    display: inline;
    line-height: 64px;
    padding: 0 15px;
    width: 100px;
}

#navbar-menu > ul > li > a {
    position: relative;
    display:block;
    color: #EDEDED;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

/* Show an orange line under the current section to notify users which section they are at */
#current-section::after {
    position: absolute;
    content: ""; 
    height: 5px; 
    width: 100%; 
    left: 0; 
    bottom: 0;
    background-color: #FF9900;
}

#navbar-menu > ul > li > a:hover {
    color: #FF9900;
}

#navbar-menu > ul > li > a:hover::after {
    position: absolute;
    content: ""; 
    height: 5px; 
    width: 100%; 
    left: 0; 
    bottom: 0;
    background-color: #FF9900;
}

#navbar-toggle {
    display: none;
    z-index: 100;
}

/* Responsive nav bar learnt from DECO1016 unit */
@media screen and (max-width: 800px) {
    #navbar-menu {
        position: fixed;
        width: 100%;
        top: 64px; 
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
    }

    #navbar-menu ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0.4em 0.8em 0;
        background-color: #1C1C1C;
    }

    #navbar-menu > ul > li {
        line-height: 64px;
        width: 80%;
    }

    #navbar-menu > ul > li > a:hover {
        border-bottom: 0;
    }

    .navbar-item > .hori-line {
        display: block;
        width: 100%;
        height: 0.5px;
        background-color: #EDEDED;
    }

    #navbar-menu > ul > li > a:hover::after {
        height: 3px; 
        width: 100%; 
    }

    #current-section::after {
        height: 3px; 
        width: 100%; 
    }

    #navbar-toggle.active + #navbar-menu {
        background-color: #1C1C1C;
        display: flex;
    }

    /* NAVBAR TOGGLE BUTTON */
    /* Styles for the hamburger style menu button */
    #navbar-toggle {
        cursor: pointer;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /* Reusable style for each menu bar */
    .icon-bar {
        display: block;
        width: 25px;
        height: 4px;
        margin: 2px;
        background-color: #454545;
    }

    /* Set the colour of the menu bars when hovered */
    #navbar-toggle:hover .icon-bar {
        background-color: #787878;
    }

    /* Set the icon bars for when the menu is active i.e. when the cross to close is showing */
    #navbar-toggle.active .icon-bar:first-child,
    #navbar-toggle.active .icon-bar:last-child {
        position: absolute;
        margin: 0;
        width: 30px;
    }

    /* Rotate the top menu bar */
    #navbar-toggle.active .icon-bar:first-child {
        transform: rotate(45deg);
    }

    /* Hide the middle menu bar */
    #navbar-toggle.active .icon-bar:nth-child(2) {
        opacity: 0;
    }

    /* Rotate the bottom menu bar */
    #navbar-toggle.active .icon-bar:last-child {
        transform: rotate(-45deg);
    }
}

/* End of navbar */





#landing {
    margin: 0;
    padding: 0;
    height: 100vh; /* Take up all the screen space */
    position: relative;
    overflow: hidden; /* Crop the image if the image is too big */
}

#landing h1 {
    position: absolute;
    width: 50%;
    left: 7.5%;
    top: 10%;

    font-weight: 700;
    font-size: 96px;
    line-height: 190%;
    text-transform: uppercase;

    /* Apply gradient color to text: https://cssgradient.io/blog/css-gradient-text/ */
    background: linear-gradient(245deg, #EAEAEA 0%, rgba(234, 234, 234, 0.3) 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    z-index: 3;
}

.section-bg {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}

.section-bg img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;

    /* There was a 3.5px gap between the contents https://stackoverflow.com/questions/3947113/space-between-div-and-img */
    display: block;
    margin: 0;
    padding: 0;

    z-index: -1;
}

/* Creating a mask that can apply gradient colour */
.section-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#landing-bg::before  {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 70%);
}

/* End of landing section */





.main {
    position: relative;
    z-index: 99;
}
  
#new-movie {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    overflow: hidden; /* Crop the image if the image is too big */
}
  
#new-movie h2 {
    position: relative;
    text-align: center;
    margin-top: 7.5vh;
}

#new-movie-bg::before {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.6) 80%, #1C1C1C 100%);
}
  
/* End of new movie section */